#
# Database credentials
#
Database:
  # Host of your database server
  # Status: Required
  Host: 127.0.0.1
  # User of your database server
  # Status: Required
  Username: root
  # Password of your database server
  # Status: Required
  Password:
  # Port of your database server
  # Status: Optional
  Port: 3306
  # Database name
  # Status: Required
  Name: gerrie

#
# SSH settings
#
SSH:
  # SSH-Key which will be used for the SSH-API
  # Status: Optional
  KeyFile:

#
# Gerrit server / instances / projects
# You can configure as much server / instances as you want per project.
# See the 5 dummy instances in the TYPO3 project below.
#
# The same rule applies on the project itselfs.
# You can add as much projects you want.
# Just open a new namespace and go for it.
# As an example have a look at TYPO3 and Wikimedia
#
# Status: Required
#
Gerrit:

  # Name of the project.
  # Only internal use (database, logging, etc.).
  #
  # You can define as many projects as you want.
  #
  # Status: Required
  TYPO3:

    # List of Gerrit instances / projects.
    # You can define as many instances or projects you want.
    #
    # Format: scheme://username[:password]@host[:port]/
    # Examples:
    #  * ssh://max.mustermann@review.typo3.org:29418/';
    #  * ssh://review.typo3.org:29418/';
    #  * https://max.mustermann:dummyPassword@review.typo3.org/
    #  * http://review.typo3.org:80/
    #
    # There are many different ways to define the instances.
    # A few are listed here.
    # Currently only complete instances are supported and listed.
    #
    # If a general KeyFile is given (see SSH.KeyFile above) the general KeyFile will be used.
    # If a local / instance KeyFile is given, the local / instance KeyFile will overwrite the general KeyFile.
    #
    - Instance: ssh://max.mustermann@review.typo3.org:29418/
      KeyFile: /Users/max/.ssh/id_rsa

    - { Instance: ssh://max.mustermann@review.typo3.org:29418/, KeyFile: /Users/max/.ssh/id_rsa }

    - Instance: ssh://max.mustermann@review.typo3.org:29418/

    - { Instance: ssh://max.mustermann@review.typo3.org:29418/ }

    - ssh://max.mustermann@review.typo3.org:29418/

  # Second project
  Wikimedia:
    - https://max:password@gerrit.wikimedia.org/